.search__tallent {
  .form-group {
    width: 100%;
    margin-bottom: 3.125rem;

    @media (min-width: 768px) {
      width: 90%;
    }

    .input__sort {
      .input__column--2 {
        display: flex;
        align-items: center;

        .drop_nav {
          position: relative;
          cursor: pointer;
          list-style: none;

          .btn__sort {
            color: #9ea0a5 !important;
          }

          .dropdown {
            position: absolute;
            background-color: #fff;
            border-radius: 4px;
            min-width: max-content;
            display: none;
            right: 0;
            z-index: 1;
            padding: 0;
            top: 3.75rem;

            @media (min-width: 768px) {
              width: auto;
            }

            &.clicked {
              display: block;
              box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
              margin-bottom: 0;
            }

            .nav-item {
              list-style: none;

              .nav-link {
                color: #1f2a36;
                padding: 1.25rem;
              }
            }
          }

          li {
            display: block;
            border-bottom: 1px solid #f2f3f4;
          }
        }

        .btn__search {
          background-color: #5e50a1;
          color: #fff;
          padding: 0.5rem 1.875rem;
          font-weight: 600;
        }
      }
    }

    .icon__search {
      position: absolute;
      top: 1.125rem;
      right: 22%;

      @media (min-width: 768px) {
        right: 27%;
      }
    }
  }

  .card__content {
    position: relative;
    box-shadow: 0px 1px 20px rgba(197, 197, 197, 0.25);
    padding: 1.25rem;
    margin-bottom: 3.125rem;

    @media (min-width: 768px) {
      border-radius: 8px;
      padding: 2.5rem 4.375rem 2.5rem 1.25rem;
    }

    &--profile {
      display: flex;
      flex-flow: column;
      padding: 2.5rem 0;
      justify-content: center;

      @media (min-width: 768px) {
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
      }

      &:first-child {
        padding-top: 0;
      }

      .profile__data--wrapper {
        display: flex;
        flex-flow: column;

        @media (min-width: 768px) {
          flex-flow: row;
        }

        .profile__image {
          width: 100px;
          height: 100px;
          margin-left: auto;
          margin-right: auto;

          @media (min-width: 768px) {
            margin-left: 0;
            margin-right: 1.875rem;
            margin-bottom: 0;
          }
        }

        .profile__data {
          text-align: center;

          @media (min-width: 768px) {
            text-align: left;
          }
          &--name {
            font-size: 1.375rem;
            color: #1f2a36;
            font-weight: 600;
          }

          &--job {
            font-size: 0.875rem;
            color: #9ea0a5;
            margin-bottom: 0.375rem;
          }

          &--location {
            font-size: 0.875rem;
            color: #9ea0a5;

            .icon__location {
              margin-right: 0.8125rem;
            }
          }
        }

        .skills__wrapper {
          margin-top: 1rem;
          display: flex;
          overflow-x: scroll;
          margin-bottom: 1.875rem;

          &::-webkit-scrollbar {
            display: none;
          }

          @media (min-width: 768px) {
            display: grid;
            gap: 0.8125rem;
            margin-bottom: 0;
            grid-template-columns: repeat(3, 1fr);
          }

          .btn__skills {
            background-color: rgba(251, 176, 23, 0.6);
            border: 1px solid #fbb017;
            color: #fff;
            padding: 0.375rem 0.75rem;
            font-weight: 600;
            font-size: 0.875rem;
            margin-right: 0.8125rem;

            @media (min-width: 768px) {
              margin-right: 0;
              padding: 0.375rem 1.25rem;
              font-size: 1rem;
            }
          }
        }
      }

      .btn__profile {
        padding: 0.625rem 1.875rem;
        background-color: #5e50a1;
        color: #fff;
        font-weight: 600;
        font-size: 0.875rem;

        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
