.find__tallent {
  .left__column--wrapper {
    .landing__image {
      width: 100%;
      height: 100%;

      @media (min-width: 768px) {
        width: 500px;
        height: 400px;
      }
    }
  }

  .right__column--wrapper {
    @media (min-width: 768px) {
      padding-top: 1.875rem;
    }

    .content__info {
      &--heading {
        font-size: 1.75rem;
        font-weight: 600;
        color: #1f2a36;
        margin-bottom: 2.1875rem;
        line-height: 2.8125rem;

        @media (min-width: 768px) {
          font-size: 2.375rem;
        }
      }

      &--list {
        .list {
          display: flex;
          align-items: center;
          margin-bottom: 1.875rem;

          .check {
            width: 1.25rem;
            height: 1.25rem;
            background-color: #5e50a1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.25rem;
          }

          &__text--span {
            color: #46505c !important;
            font-size: 0.875rem;

            @media (min-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
