h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
  color: #1f2a36;
}

h2 {
  font-size: 24px !important ;
  font-weight: 600 !important;
  color: #1f2a36;
}

.hire__bg {
  background-color: #e5e5e5;
}

.hire {
  // padding: 40px 0;
  margin: 0;
}

.hire__user {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 20px !important;
  margin: 20px 0;
}

.hire__user--image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.hire__user--content h6 {
  font-size: 14px;
  font-weight: 400;
}

.hire__user--content p {
  font-size: 14px;
  font-weight: 400;
  color: #9ea0a5;
}

.hire__user--skill button {
  margin: 12px 16px;
  background-color: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  box-sizing: border-box;
  border-radius: 4px;
}

.vector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 12px 0;
}

.vector p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12px;
}

.hire__desc {
  padding: 0 80px !important ;
  margin: 20px 0;
}

.hire__desc--form span {
  font-size: 14px;
  font-weight: 400;
  color: #9ea0a5;
}

.hire__desc--form--detail {
  margin: 40px 0;
}

.hire__desc--form--select select {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
}

.hire__desc--form--button button {
  width: 100%;
  padding: 12px;
  background-color: #fbb017;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fbb017;
}

.hire__desc--form--textarea textarea {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
}

.hire__desc--content h6 {
  font-size: 18px;
  font-weight: 400;
  color: #46505c;
}

@media (max-width: 1199.98px) {
  .hire__desc {
    padding: 40px 20px !important;
  }
}

/* Tablet */
@media (max-width: 991.98px) {
  .hire {
    display: flex;
    flex-direction: column;
  }

  .hire_desc {
    margin: 40px 0 !important;
    padding: 0 20px !important;
  }

  .hire__user {
    border-radius: 0;
  }

  .hire__user--skill {
    display: flex;
    overflow-x: scroll;
  }
}
