.skill__tallent {
  .content__skill {
    @media (min-width: 768px) {
      padding-top: 4.375rem;
    }

    &--head {
      @media (min-width: 768px) {
        padding-left: 6.875rem;
      }

      .content__text--title {
        font-size: 1.75rem;
        color: #1f2a36;
        font-weight: 600;
        margin-bottom: 0.75rem;

        @media (min-width: 768px) {
          font-size: 2.375rem;
        }
      }

      .content__text--subtitle {
        color: #46505c;
        font-size: 0.875rem;
        margin-bottom: 1.875rem !important;

        @media (min-width: 768px) {
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }

      .list__wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.25rem;
        margin-bottom: 1.875rem;

        .content__skill--list {
          display: flex;

          .check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.25rem;
            height: 1.25rem;
            background-color: #fbb017;
            margin-right: 1.25rem;
          }

          .list__text--span {
            color: #46505c !important;
            font-size: 0.875rem;

            @media (min-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .right__column--wrapper {
    .content__image {
      width: 100%;
      height: 100%;
      margin-bottom: 0;

      @media (min-width: 768px) {
        height: 400px;
        width: 500px;
      }
    }
  }
}
