.hero {
  &__leftColumn {
    padding-bottom: 2.5rem;

    @media (min-width: 768px) {
      padding-right: 3.75rem;
      padding-bottom: 0;
    }

    &--content {
      padding-top: 0;

      @media (min-width: 768px) {
        padding-top: 4.375rem;
      }

      .content__heading--title {
        font-size: 1.75rem;
        line-height: 2.8125rem;
        color: #1f2a36;
        font-weight: 600;
        margin-bottom: 1.25rem;

        @media (min-width: 768px) {
          line-height: 4.375rem;
          font-size: 2.8125rem;
        }
      }

      .content__heading--subtitle {
        font-size: 1rem;
        color: #46505c;
        margin-bottom: 2.5rem;

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
    }
  }

  &__rightColumn {
    .hero__image {
      width: 100%;
      height: 100%;

      @media (min-width: 768px) {
        width: 500px;
        height: 500px;
      }
    }
  }
}
